/src/application/logs/*
/src/application/config/development/*
/src/application/config/production/*
/src/application/config/testing/*
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
